a:focus             { outline: thin dotted gray;}
a:hover:focus       { outline: 0 none }
a:hover             { text-decoration: underline;}
 
h1 { 
    text-transform: uppercase;
    text-align: center;
    margin:60px 0; 
    line-height:120%;
    //color: $primary-color;
}

.subnav {
    text-align: center;
    margin:-50px 0 50px;
    ul {
        font-weight: bold;
        font-family: $body-font-family;
        font-size: emCalc(24px);
        padding: 0;
        margin: 0;
        li {
            float:none;
            display: inline;
            margin:0 20px;
            a {
                color:$body-font-color;
            }
            &:hover, &.active {
                a {
                    color:$primary-color;
                    text-decoration: none;
                }
            }
            @media #{$small-only} {
                display:block;
            }
        }
    }
}

// used for ganeti+openstack=Synnefo
.operations-inner { 
    margin: 2em 0;
    text-align:center;    
    h2 {
        color:$body-font-color;
        font-size:emCalc(18px);
        margin-bottom: 0.5em;
    }
    p {
        font-size: emCalc(14px);
        line-height: emCalc(20px);
    }
    .mobile-hidden {
        @include block-grid(3, $block-grid-default-spacing, true);
        display: none;
        @media #{$medium-up} { 
            display: block;
        }
        .box {
            background: $secondary-bg;
            padding:25px;
            height: $box-height-inner;
            text-align: left;
            position: relative;
            .sign {
                position: absolute;
                display: block;
                width: $block-grid-default-spacing;
                line-height: $box-height;
                top:0;
                right: - $block-grid-default-spacing ;
                text-align: center;
                font-size: $h2-font-size;
                font-size:emCalc(34px);
                line-height:inherit;
                top:10px;
                img {
                    position:relative;
                    top:-4px;
                }
            }
        }
    }
    .mobile-only {
        @media #{$medium-up} { 
            display: none;
        }
        padding:20px 0;
        background: $secondary-bg;
        text-align: center;
        .sign {
            font-family: $header-font-family;
            font-size: $h2-font-size;
        }
    }
     
         
}  

.icon-twitter span { 
    @include sprite('../images/twitter-on.svg', 20px, 18px);
    background-size: 20px 18px;
}
.icon-twitter:hover span {
    background-image:url(../images/twitter-off.svg);
}
.icon-google span{ 
    @include sprite('../images/google-on.svg', 12px, 19px);
    background-size: 12px 19px;
} 

.icon-google:hover span {
    background-image:url(../images/google-off.svg);
}

.icon-github span{ 
    @include sprite('../images/github-on.svg', 20px, 20px);
    background-size: 20px 20px;
} 

.icon-github:hover span {
    background-image:url(../images/github-off.svg);
}


.back-btn {
    @include sprite('../images/close.svg', 45px, 45px);
    background-size: 45px 90px;
    background-position: left top;
    &:hover{
        background-position: left bottom;
    };
    position: fixed;
    right:45px;
    top:160px;
}

.with-back-btn {
    .back-btn {
        position: absolute;
        top:58px;
    }
}

.centered { text-align: center;}

.two-cols{ 
    @include block-grid(2,  50px, true); 
 }
.button.download {
    background-image:url(../images/arrow-down-white.png);
    background-repeat: no-repeat;
    background-position:10px center;
    padding-left: 30px;
}


.button {
    margin-top: 8px;
}

.button:hover {
    text-decoration:none;
}

.relative { position:relative;}

.lt {
    float: left;
    width: $central-icons-lt;
    text-align: center;
    padding-top:0.5em;
    @media #{$small-only} {
        float:none;
        width:auto;
        margin-bottom:1em;
    }
}

.rt {
    overflow: hidden;
}


.central-icons iframe,
.central iframe { 
    margin-bottom:0.5em;
}   

.central-icons .iframe + p,
.central .iframe + p{
} 

.large-block-grid-2 {
    margin:0 -80px;
}

.large-block-grid-2 > li {
    padding:0 80px 80px;
}

dl{
    margin: 0;
    padding-bottom: 1em;
    dt {
        color:$primary-color;
        cursor: pointer;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0;
        &:hover {
            text-decoration: underline;
        };
    }
    dd {
        text-align: left;
        display: none;
        margin-bottom: 0;
    }
}

pre     {
    border: 1px dashed $body-font-color;
    padding:5px;
    margin: 10px 0;
}

.screenshot     { 
    padding:100px;
    font-size:emCalc(16px);
    p { margin:1em 0;}
}
.screenshot .wrapper { 
    max-width:900px; 
    margin:0 auto;
    position:relative;
}
.screenshot .back-btn { 
    top:0;
    right:-60px;
    position: absolute;
    @media #{$small-only}{ 
         top:20px;
    };

}

.screenshot p {
    text-align: center;
}

.screenshot-links a {
    position: relative;
    display:block;
    cursor: default;
    margin-bottom: 1em;
    span {
        position: absolute;
        display: block;
        width: 100%;
        height: 0;
        left:0;
        top:20px;
        opacity: 0;
        background:url(../images/eye.png) no-repeat center center;
    }
}
.screenshot-links a:hover{
    @media #{$small}{ 
        cursor: pointer;
        span {
            height: 220px;
            opacity: 1;
            -webkit-transition: height .6s, opacity 1s; 
            transition: height .6s, opacity 1s;
            
        }
    }
}

header {
    border-bottom: 1px solid $border-color;
}

.footer {
    border-top: 1px solid $border-color;
}


.post {
    margin-bottom: 3em;
    .author {
        font-size: emCalc(14px);
        margin-bottom: 0em;
        color: lighten($body-font-color, 15%);
    }
    h3 {
        margin-bottom: 1em;
        font-size: emCalc(18px);
    }
    h2 {
        margin: -6px 0 0.5em;
        font-size: emCalc(24px);
        &+.author {
            margin-bottom: 1em;
        }
    }
    p {
        margin-bottom: 1em;
    }
    .more {
        white-space: nowrap;
    }
}

.sidemenu {
    ul {
        margin-left: 0;
        li {
            &.active {
                a {
                    color: #000;
                }
            }
            list-style: none outside none;
            padding: 0 0 10px 0;
            .date {
                font-size: emCalc(14px);
                margin-bottom: 0em;
                color: lighten($body-font-color, 15%);
            }
        }
    }

}
