@mixin footer-li($width, $img, $img2x) {
    a {
        width: $width;
        background:url($img) no-repeat center right;
        @media all and (-webkit-min-device-pixel-ratio: 1.5) {
            background-image:url($img2x)
        }
        background-size: 200%;
        &:hover {
            background-position:center left;
        }
    }
}

.footer {
    height: $topbar-height;
    background-color: $secondary-bg; 
}
.footer.normal,
.footer.inner{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

.logos {
    margin-bottom: 0;
    li {
        list-style: none outside none;
        display: inline-block;
        line-height: $topbar-height - 2*$footer-padding;
        height: $topbar-height - 2*$footer-padding;
        margin-right: 20px;
        &:first-child {
            border-right: 1px solid $body-bg;
            padding-right: 20px;
        }
        a {
            text-indent: -999px;
            overflow: hidden;
            height: 100%;
            display: block;
        }
        &#grnet {
            @include footer-li(76px,'../images/grnet.png','../images/grnet.png');
        }
        &#eu {
            @include footer-li(144px,'../images/eu.png','../images/eu@2x.png');
        }
        &#dg {
            @include footer-li(130px,'../images/dg.png','../images/dg@2x.png');
        }
        &#nsrf {
            @include footer-li(56px,'../images/nsfr.png','../images/nsfr@2x.png');
        }
    }
}

.footer.inner {
    padding: 10px 0;
    height: auto;
    text-align: center;
}

.footer.inner ul {
    margin: 0;
    list-style: none outside none;
    font-size: emCalc(14px);
    li {
        list-style: none outside none;
        display: inline-block;
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid $body-bg;
        &:first-child {
            padding: 0;
            margin: 0;
            border: 0 none;
        }
    }
    a {
        color: $body-font-color;
        &:hover {
            color: $primary-color;
        }
    }
}

