$secondary-bg: #fff; // used for footer and header bg

// grid
$full-row-width: 100%;
$central-alt-max-width:540px;
$central-icons-lt:250px;

$wide-row-width:900px;
$x-wide-row-width:1000px;
$row-padding: 20px;



// header
$header-menu-items: 7;
$header-title-width: 280px;
$header-breakpoint: 1000px;

// content
$circle-w: 175px;

// footer
$footer-padding: 5px;

// operations
$box-padding-top :50px;
$box-padding-lt-rt:10px;
$box-height : 220px;
$box-height-inner : 190px;

$arrows-margin-top: 10px; 
$operations-bottom-margin : 50px;

$block-grid-default-spacing-operations-small: 10px;
