---
layout: page
title: Blog
layoutCls: x-wide
---


{% if page.tags.size > 0 %}
    {% capture tags_content %}Categories: {% endcapture %}
    {% for post_tag in page.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}



<div class="row">
    <div class="medium-2 columns sidemenu small-hide">
        <p><strong>Categories</strong></p>
        <ul>
            {% for tag in site.data.tags %}
                <li>
                    <a href="{{site.baseurl}}/blog/tag/{{ tag.slug }}/">{{tag.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="medium-6 columns post">
        {{content}}
    </div>
      
    <div class="medium-4 columns sidemenu archive small-hide">
        <p><strong><a href="{{site.baseurl}}/blog/">Posts Archive</a></strong></p>
        {%for post in site.posts  %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture this_month %}{{ post.date | date: "%b" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
            {% capture next_month %}{{ post.previous.date | date: "%b" }}{% endcapture %}

            {% if forloop.first %}
            <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
            <h3 id="{{ this_year }}-{{ this_month }}-ref">[{{ this_month }}]</h3>
            <ul>
            {% endif %}
            {% if page.url == post.url %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ post.url | prepend:site.baseurl}}">{{ post.title }}</a>
            </li>

            {% if forloop.last %}
            </ul>
            {% else %}
                {% if this_year != next_year %}
                </ul>
                <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
                <h3 id="{{ next_year }}-{{ next_month }}-ref">[{{ next_month }}]</h3>
                <ul>
                {% else %}    
                    {% if this_month != next_month %}
                    </ul>
                    <h3 id="{{ this_year }}-{{ next_month }}-ref">[{{ next_month }}]</h3>
                    <ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
